<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
  <title>Profile</title>
</head>
<body>
  <div class="container container-profile">
    <p class="greeting">
        Привет, {{ user.first_name}} {{user.last_name}}!
    </p>

    <div class="friends">
      {% if friends_list %}
        <p class="friends__title">Это - твои пять рандомных друзей</p>
      <ul class="friends-list">
        {% for friend in friends_list %}
          <li class="friends-list__item">
            <img class="item__avatar" src="{{friend.photo_100}}" alt="">
            <a class="item__name" href="https://vk.com/id{{friend.id}}" target="_blank">
              {{ friend.first_name }} {{ friend.last_name }}
            </a>
          </li>
        {% endfor %}
      </ul>
      {% else %}
        <p class="friends__title"> Список друзей пуст :(</p>
      {% endif %}
    </div>
  </div>
</body>
</html>